{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load staticfiles %}


    {% block content %}

    {% if request.user.is_authenticated %}

        <div class="row">
            <div class="col-sm-12">
                <form class='add-url-form' id='add-url-form'  method='POST' action='{% url 'add_user_task' %}'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-default" type="submit" value="Submit">
                    <div>
                        <h3><span id="success_text" class="text-success">New URL was successfully added</span></h3>
                    </div><div>
                        <h3><span id="already_exists_text" class="text-danger">This URL is already in your tasks!</span></h3>
                    </div>

                </form>
            </div>
        </div>

{#        <form class='add-url-form' id='add-url-form' action="{% url 'add_user_task' %}" method="post">#}
{##}
{#            <div class="message"></div>#}
{#            {% csrf_token %}#}
{##}
{#            <div class="fieldWrapper row sky-space-20">#}
{#                <div class="col-md-12 col-md-offset-0">#}
{#                  <label class="text-success" for="id_site_url">Введите url:</label>#}
{##}
{#                    <div id="site_url_text" class="has-success form-group">#}
{#                      {{ form.site_url }}#}
{#                      <span id="site_url_error_text" class="help-inline">{{ form.site_url.errors }}</span>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="fieldWrapper row sky-space-20">#}
{#                <div class="col-md-2 col-md-offset-0">#}
{#                  <label class="text-success" for="id_site_tags">Введите тег:</label>#}
{#                    <div id="site_tags_text" class="has-success form-group">#}
{#                      {{ form.site_tags }}#}
{#                      <span id='site_tags_error_text' class="help-inline">{{ form.site_tags.errors }}</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#            <input class="btn btn-success" id='submit-button' type="submit" value="Submit">#}
{#            <div>#}
{#                <h3><span id="success_text" class="text-success">New URL was successfully added</span></h3>#}
{#            </div><div>#}
{#                <h3><span id="already_exists_text" class="text-danger">This URL is already in your tasks!</span></h3>#}
{#            </div>#}
{#        </form>#}

    {% else %}
        <h1> You need to register to do something</h1>
    {% endif %}

    {% endblock %}
