{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    {% if user_urls %}

        <ol>
            {% for url in user_urls %}
                <li>
                    <p>
                        {{ url }}
                        {% for item in parsedurl_list %}
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ol>

    {% else %}

        <h3>
            Please add some <a href="{% url 'add_user_task' %}">url</a>
        </h3>

    {% endif %}
{% endblock %}