{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Agregator">
    <title>
        {{ title }}
    </title>
    {% if additional_css %}
        {% for css in additional_css %}
          <link rel="stylesheet" type="text/css" href="{{ css }}">
        {% endfor %}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
<body>

    {% include 'template_scripts.html' %}
    {% if additional_scripts %}
        {% for script_name in additional_scripts %}
          <script src="{{ script_name }}"></script>
        {% endfor %}
    {% endif %}

    {% include 'header.html' %}
    <div class="container">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>