{% url 'add_url_video'  as add_url_video %}
{% url 'show_url_video' as show_url_video %}
{% url 'show_video' as show_video %}


<nav class="navmenu navmenu-default" role="navigation">
    <h4>
        <ul class="nav navmenu-nav">
            <li class="{% if request.get_full_path == add_url_video %}active{% endif %}"><a href="{{ add_url_video }}">ADD URL</a></li>
        </ul>
        <ul class="nav navmenu-nav">
            <li class="{% if request.get_full_path == show_url_video %}active{% endif %}"><a href="{{ show_url_video }}">SHOW URL</a></li>
        </ul>
        <ul class="nav navmenu-nav">
            <li class="{% if request.get_full_path == show_video %}active{% endif %}"><a href="{{ show_video }}">ADD URL</a></li>
        </ul>
    </h4>
</nav>
